@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Viccek</h1>

<div id="jokeList">
    <ul>
        @foreach (var joke in Model.Jokes)
        {
            <li>
                <strong>@joke.Tartalom</strong><br />
                <em>Feltöltő: @joke.Feltolto</em><br />
                Lájkok: <span id="likeDb">@joke.Tetszik</span> | <span>Diszlájkok: @joke.NemTetszik</span><br />
                <button onclick="lajkolas(@joke.Id)">Tetszik</button>
                <button onclick="lajkolas(@joke.Id, 'dislike')">Nem tetszik</button>
            </li>
        }
    </ul>
</div>
